<!DOCTYPE html>
<html ng-app="TweetApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/angular")

    @RenderSection("scripts", required: false)
</head>
<body>

   
        @RenderBody()
   
    @Scripts.Render("~/bundles/appcode")
        <footer>
          
        </footer>
  

  
</body>
</html>
